<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>U-Gallery</title>
  </head>
  <body class="grey darken-3 white-text">
    <nav>
      <div class="nav-wrapper grey darken-3">
        <a href="#" class="brand-logo">U-Gallery</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <img class="avatar" th:src="${avatar_url}" alt="" />
          </li>
        </ul>
      </div>
    </nav>
    <span
      class="card-panel teal accent-3"
      th:if="${success}"
      th:text="${success}"
    ></span>
    <span
      class="card-panel red accent-3 white-text"
      th:if="${error}"
      th:text="${error}"
    ></span>
    <main class="container">
      <div id="drop-area">
        <div class="big-text">
          <p th:text="#{gallery.messageToSend}">
          </p>
          <span id="browse-button" style="cursor: pointer; color: green" th:text="#{gallery.messageToSendBrowse}"></span
            >
          <input
            type="file"
            id="fileElem"
            accept="image/*"
            style="display: none"
          />
        </div>
        <p class="grey-text" th:text="#{gallery.format}"></p>
        <br />
        <div class="container-preview">
          <img id="preview" />
        </div>
        <input
          type="text"
          id="title-input"
          class="white-text"
          placeholder="Digite um titulo"
        />
        <div class="container-submit">
          <button id="upload-button" style="display: none">Upload</button>
        </div>
      </div>

      <div class="masonry">
        <div class="grid" th:each="gallery : ${gallery}">
          <img th:src="${gallery.imageUrl}" alt="Image" />
          <div class="grid__body">
            <div class="relative">
              <a class="grid__link" target="_blank" href="/"></a>
              <h1 class="grid__title" th:text="${gallery.title}"></h1>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script src="script.js"></script>
</html>
